{% extends 'base.html' %}

{% block body %}
<div class="container">

    {% if user %}
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="mb-4">
                <h1>My Boards</h1>
            </div>

            {% if user['boards'] %}
            <div class="container pb-4">
                <div class="row">
                {% for board in user['boards'] %}
                    <div class="card col px-1 pt-1 h-100 m-1">
                        <a href="/board/{{user.username}}/{{board.name}}" style="text-decoration:none">
                            <div class="board-thumb-container position-relative">
                                {% if board.thumbnail %}
                                <img src="{{ url_for('uploads', filename=board.thumbnail) }}" class="card-img-top">
                                {% else %}
                                <img class="card-img-top" style="width: 500px; height: 500px;">
                                {% endif %}
                                <i class="{{board.icon}} position-absolute top-50 start-50 translate-middle mr-2 fs-1 board-icon-large"></i>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title">
                                    {{board.name}}
                                </h6>
                                <a class="btn btn-danger d-inline" href="/delete_board/{{user.username}}/{{board.name}}"><i class="fas fa-trash mr-2"></i> Delete</a>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}


            {% if shared_boards %}
            Shared boards:<br>
            <div class="container pb-4">
                <div class="row">
                {% for board in shared_boards %}
                    <div class="card col px-1 pt-1 h-100 m-1">
                        <a href="/board/{{board.username}}/{{board.name}}" style="text-decoration:none">
                            <div class="board-thumb-container position-relative">
                                {% if board.thumbnail %}
                                <img src="{{ url_for('uploads', filename=board.thumbnail) }}" class="card-img-top">
                                {% else %}
                                <img class="card-img-top" style="width: 500px; height: 500px;">
                                {% endif %}
                                <i class="{{board.icon}} position-absolute top-50 start-50 translate-middle mr-2 fs-1 board-icon-large"></i>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title">
                                    {{board.name}}
                                </h6>
                                <a class="btn btn-danger d-inline" href="/unshare_guest/{{board.username}}/{{board.name}}"><i class="fas fa-trash mr-2"></i> Unshare</a>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}
            

            <form action="/api/add_board" method="POST">
                <h4>add new board</h4>
                <div class="form-group">
                    <label>Name:</label>
                    <input class="form-control" type="text" name="name">
                </div>

                <div class="form-group">
                    <label>Icon:</label>
                    <p class="small">search free icons <a href="https://fontawesome.com/icons?d=gallery&p=2&m=free" target="_blank">here</a>. copy class name (e.g. "fas fa-cat") and paste below.</p>
                    <input class="form-control" type="text" name="icon" >
                </div>

                <!-- <div class="form-group">
                    <label>Color:</label>
                    <input class="form-control" type="textarea" name="color">
                </div> -->
                <input type="hidden" value="{{user.user_id}}" name="user_id">

                <input class="form-control btn btn-primary my-2" type="submit">
            </form>


        </div>
    </div>

    {% else %}
    <p>please <a href="/log_in">log in</a> to access this page.</p>
    {% endif %}
</div>


{% endblock %}