{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>{{selected_board}}</h1>
    {% if not shared_with %}<h4>(Shared by {{ owner_username }})</h4>{% endif %}
    {% if user %}

        <div class="mb-4">
            <a class="btn btn-primary" href="/upload/{{owner_username}}/{{selected_board}}">Upload photos</a>
            {% if shared_with %}
            <a class="btn btn-danger d-inline" href="/delete_board/{{user.username}}/{{selected_board}}"><i class="fas fa-trash mr-2"></i> Delete board</a>
            {% else %}
            <a class="btn btn-warning d-inline" href="/unshare_guest/{{owner_username}}/{{selected_board}}"><i class="fas fa-trash mr-2"></i> Leave board </a>
            {% endif %}
        </div>
        {% if shared_with %}
            <div class="mb-4">
                Shared with:
                {% for sharer in shared_with %}
                    <span class="badge rounded-pill bg-success">{{ sharer }}</span>
                {% endfor %}
            </div>
        {% endif %}
        {% include 'images.html' %}
    {% else %}
        <p>Please <a href="/log_in">log in</a> to access this page.</p>
    {% endif %}
</div>
    

{% endblock %}