{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>{{selected_board}}</h1>
    {% if user %}

        <div class="mb-4">
            <a class="btn btn-primary" href="/upload/{{user.username}}/{{selected_board}}">Upload photos</a>
            <a class="btn btn-danger d-inline" href="/delete_board/{{user.username}}/{{selected_board}}"><i class="fas fa-trash mr-2"></i> Delete board</a>
        </div>
        {% include 'images.html' %}
    {% else %}
        <p>Please <a href="/log_in">log in</a> to access this page.</p>
    {% endif %}
</div>
    

{% endblock %}