{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>{{selected_board}}</h1>
    {% if not shared_with and user.username != owner_username %}<h4>(Shared by {{ owner_username }})</h4>{% endif %}
        <div class="mb-4">
            <a class="btn btn-primary" href="/upload/{{owner_username}}/{{selected_board}}">Upload photos</a>

            {% if user.username == owner_username %}
            <a class="btn btn-danger d-inline" href="/delete_board/{{owner_username}}/{{selected_board}}"><i class="fas fa-trash mr-2"></i> Delete board</a>
            <a class="btn btn-secondary d-inline" href="/share_board/{{owner_username}}/{{selected_board}}"><i class="fa-solid fa-handshake-simple"></i> Share </a>
            {% else %}
            {# The only other reason the board would be visible is if it's shared #}
            <a class="btn btn-warning d-inline" href="/leave_board/{{owner_username}}/{{selected_board}}/{{user.user_id}}"><i class="fas fa-trash mr-2"></i> Leave board </a>
            {% endif %}
        </div>
        {% if shared_with %}
            <div class="mb-4">
                Shared with:
                {% for sharer in shared_with %}
                <span class="badge rounded-pill bg-success">{{ sharer }} <a href="/unshare_board/{{owner_username}}/{{selected_board}}/{{sharer}}"><i class="fa-solid fa-circle-xmark text-white"></i></a></span>
                {% endfor %}
            </div>
    {% endif %}
    {% include 'images.html' %}
</div>
    

{% endblock %}